@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.hero {
  &__block {
    display: flex;
    background-color: #bfd7e7;
    justify-content: center;
    flex-direction: row;
    width: 100vw;
    height: 67vh;
  }

  &__button {
    color: white;
    background-color: #205075;
  }

  &__textcontainer {
    width: 49%;
    padding: 5rem;
    text-align: start;
  }
  &__image {
    height: 100%;
  }
}

.howto {
  background-color: #c0d8e7;
  //   background-image: url(../../assets/ExtensionLogo.png);
  //   background-repeat: no-repeat;
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__textcontainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 5rem;
    align-items: center;
  }

  &__text {
    text-align: start;
    display: flex;
    flex-direction: column;
  }

  &__image-container {
    display: flex;
    align-items: center;
    height: 100%;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.dontmiss {
  align-content: center;
  min-height: 55rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title {
    font-size: 5rem;
    margin-top: 0;
  }
}

// .footer {
//   //   background-image: url(../../assets/Footer.png);
//   //   background-repeat: no-repeat;

//   width: 100vw;
//   height: auto;
// }

footer {
  width: 100%;
}
.footer-image {
  display: inline-block;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}
