@use "./typography";
@use "./variables" as *;
@use "./mixins" as *;

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}


body {
    color: $neutralsColor2;
    font-family: 'Open Sans', sans-serif;
    font-size:1.6rem;
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

li {
    text-decoration: none;
}

img {
    max-width: 100%;
}