//colors
$neutralsColor1: #ffffff;
$neutralsColor2: #000000;
$neutralsColor3: #4b4f54;
$primaryColor1: #8a171b;
$primaryColor2: #bfd7e7;

$secondaryColor1: #005078;
$secondaryColor2: #f01428;

//margins:
$margin-side: 6rem;
