//colors
$neutralsColor1: #FFFFFF;
$neutralsColor2: #000000;
$neutralsColor3: #4B4F54;
$primaryColor1: #8A171B;
$primaryColor2: #ABCEE4;

$secondaryColor1: #005078;
$secondaryColor2: #F01428;


//margins:
$margin-side: 6rem;