@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.everdayearner {
  background-color: white;
  display: flex;
  width: 100vw;
  justify-content: center;

  &__text {
    padding: 3rem;
    position: relative;
    right: 13rem;
  }

  &__card {
    padding: 3rem;
  }

  .redtext {
    color: $secondaryColor2;
  }

  .image {
    height: 25rem;
    position: relative;
    right: 5rem;
  }
}
