@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.everdayearner {
  background-color: white;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  &__text {
    padding: 3rem;
  }

  &__card {
    padding: 3rem;
  }
}

.redtext {
  color: $secondaryColor2;
}

.image {
  height: 25rem;
}
