@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-between;
  background-image: url("../../assets/Menu.png");
  background-repeat: none;
  height: 20rem;
}
