@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.mock-dash {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__image{
    max-width: 100%;
    height: auto;
}